body {
    background-image: url("running_field__taylor-friehl-unsplash.jpg");
    background-size: cover;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.wrapper {
    background: white;
    padding: 10px 5px;
    border: 3px solid black;    
    border-radius: 15px;
    max-width: 250px;
    margin: 25px auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 80%;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #D94A4A;
}

#save-btn {
    background: #7AA638;
}

